.img-category {
  width: 3.8rem !important;
  height: 3.8rem !important;
}

.list-category{
  height: auto !important;
  width: 6rem !important;
  align-items: 'center' !important;
  justify-content: 'center' !important;
}