//
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.
//*-----------------------------------------------
//|   Theme Colors
//-----------------------------------------------*/
//*-----------------------------------------------
//|   Color System
//-----------------------------------------------*/

$white: #fff !default;
$gray-100: #f9fafd !default;
$gray-200: #edf2f8 !default;
$gray-300: #d8e2ee !default;
$gray-400: #b6c2d2 !default;
$gray-500: #9da8ba !default;
$gray-600: #748194 !default;
$gray-700: #5d6e82 !default;
$gray-800: #4d5969 !default;
$gray-900: #344050 !default;
$gray-1000: #222e3c !default;
$gray-1100: #0b1828 !default;
$black: #000000 !default;

$grays: (
  "black": $black,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
  "1000": $gray-1000,
  "1100": $gray-1100,
  "white": $white,
) !default;

//*-----------------------------------------------
//|   Solid Colors Light
//-----------------------------------------------*/
$blue: #2a7be4 !default;
$indigo: #727cf5 !default;
$purple: #6b5eae !default;
$pink: #ff679b !default;
$red: #e63757 !default;
$orange: #e76e0c !default;
$yellow: #f5803e !default;
$green: #00d27a !default;
$teal: #02a8b5 !default;
$cyan: #27bcfd !default;
$bg-color-primary: #fff !default;
$color-primary: #ffae00;
$text-color-primary: #424141;


//*-----------------------------------------------
//|   Solid Colors Dark
//-----------------------------------------------*/
$text-dark-primary: #d8e2ef;

//*-----------------------------------------------
//|   Theme Colors
//-----------------------------------------------*/
$primary: $color-primary !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-1100 !default;

//*-----------------------------------------------
//|   Fonts Families
//-----------------------------------------------*/
$font-base: "Lexend" !default;
$font-number: "Poppins" !default;

:root,
:root.light,
:root .light {
  --text-color: #{$text-color-primary};
}

.dark{
  --text-color:#{$text-dark-primary};
}

@import 'user-text';
@import 'user-custom';
@import 'user-theme';